---
layout: post
status: publish
published: true
title: Как создавать, удалять и работать с сессионными переменными в Symfony 2
author:
  display_name: SlowProg
  login: seoadmin
  email: paperplanesu@rambler.ru
  url: http://paperplane.su
author_login: seoadmin
author_email: paperplanesu@rambler.ru
author_url: http://paperplane.su
wordpress_id: 1593
wordpress_url: http://paperplane.su/?p=1593
date: '2011-11-28 21:26:38 +0400'
date_gmt: '2011-11-28 21:26:38 +0400'
categories:
- Symfony 2
tags:
- symfony2
- twig
- сессионные переменные
comments:
- id: 45348
  author: Dark
  author_email: seo-in@ya.ru
  author_url: ''
  date: '2012-04-24 20:39:06 +0400'
  date_gmt: '2012-04-24 16:39:06 +0400'
  content: "``Удаление переменной сессии``, может поменяете в соответствии с первой
    вставкой кода?\r\n\r\nСтоит разделить примеры шаблонов, их легко можно попутать.\r\n\r\nВ
    примерах совсем не нужно использовать [un]serialize().\r\nЧитайте api http:&#47;&#47;api.symfony.com&#47;2.0&#47;Symfony&#47;Component&#47;HttpFoundation&#47;Session.html#method_set"
---
<p>Решил написать небольшую заметку про сессионные переменные в Symfony2. В обычном тру программировании мы все время явно юзаем или кукисы или сессионные переменные (что по сути то же), а то как же без них. Но в Symfony2 прибегать к их использованию приходится не часто, особенное если проект простой и не требует изврата. Но рано или поздно каждый добирается до того момента, когда ему необходимо подключить сессионные переменные в свой проект на Symfony 2. Для таких людей я написал эту маленькую заметку. Ну что же, давайте поглядим как их юзать:</p>
<pre class="symfony">&#47;&#47; Создание сессионной переменной<br />
$this->get('session')->set('session_var',serialize('Содержимое сессионной переменной'));<&#47;pre></p>
<pre class="symfony">&#47;&#47; Получение сессионной переменной<br />
$tmp = unserialize($this->get('session')->get('session_var'));<&#47;pre></p>
<pre class="symfony">&#47;&#47; Проверка на существование переменной сессии<br />
if ($this->get('session')->has('session_var')) {<br />
    &#47;&#47; существует<br />
}<&#47;pre></p>
<pre class="symfony">&#47;&#47; Удаление переменной сессии<br />
$this->get('session')->remove('session_var');<&#47;pre><br />
Как вы могли заметить, я использую <em>serialize<&#47;em> и <em>unserialize<&#47;em>. Это не просто так, с помощью них я преобразовываю любую переменную в строку с байтово-поточным представлением этой самой переменной и соответственно наоборот из строки байт в переменную. Это необходимо для того, чтобы в сессию пихать переменные любой структуры будь то массивы, строки или еще что, все они преобразовываются в последовательность байт.</p>
<p>Думаю, стоит привести пример использования сессионных переменных в контроллере. Например для того, чтобы передавать какие-нибудь данные между разными дейcтвиями (action) одного контроллера или даже между различными контроллерами:</p>
<pre class="symfony">public function updateAction()<br />
{<br />
    ...<br />
    $tmp = array('var' => 'blah-blah-blah');<br />
    $this->get('session')->set('session_var',serialize($tmp));<br />
    return $this->redirect($this->generateUrl('go_to_index'));<br />
    ...<br />
}</p>
<p>public function indexAction()<br />
{<br />
    $tmp = unserialize($this->get('session')->get('session_var'));<br />
    &#47;&#47; и далее делаем с ней что угодно<br />
    ...<br />
}<&#47;pre><br />
Еще вспомнил полезный момент: сессионные переменные так же доступны и в шаблонах. Например чтобы в шаблоне <strong>Twig<&#47;strong> или <strong>PHP<&#47;strong> проверить на существование и в положительном случаи вывести сессионную переменную надо проделать следующее:<br />
[tab name='Twig']</p>
<pre>{% if app.session.foo %}<br />
    {{ app.session.foo }}<br />
{% endif %}<&#47;pre><br />
[&#47;tab]<br />
[tab name='PHP']</p>
<pre><?php if ($view['session']->foo): ?><br />
    <?php echo $view['session']->foo ?><br />
<?php endif; ?><&#47;pre><br />
[&#47;tab]<br />
[end_tabset]<br />
Ничего сложного. С остальным, я думаю, сами разберетесь. Хотя... Раз уж назвался груздем &ndash; придется лезть в кузов. Наверно будет не вежливо не упомянуть про так называемые flash-сообщения. Это такие сообщения, которые сохраняются в пользовательской сессии между двумя запросами. Только между двумя запросами, потом пропадают. Они сделаны специально для перенаправлений (редиректов), при которых необходимо оповестить, например, пользователя об успешной операции проведенной в контроллере:</p>
<pre class="symfony">...<br />
&#47;&#47; обработали поступившие данные и успешно добавили в базу<br />
&#47;&#47; теперь об этом надо оповестить пользователя<br />
&#47;&#47; для этого создаем flash-сообщение<br />
$this->get('session')->setFlash('notice', 'Данные успешно сохранены');</p>
<p>&#47;&#47; далее редиректимся куда глаза глядят<br />
return $this->redirect($this->generateUrl(...));<br />
...<&#47;pre><br />
После того, как произошел редирект в контроллере куда-то в другое место, в этом другом месте будет грузится шаблон. И в этом шаблоне нам и надо указать вывод flash-сообщения:[tab name='Twig']</p>
<pre>{% if app.session.hasFlash('notice') %}</p>
<div class="flash-notice">
        {{ app.session.flash('notice') }}<br />
    <&#47;div><br />
{% endif %}<&#47;pre><br />
[&#47;tab]<br />
[tab name='PHP']</p>
<pre><?php if ($view['session']->hasFlash('notice')): ?></p>
<div class="flash-notice">
        <?php echo $view['session']->getFlash('notice') ?><br />
    <&#47;div><br />
<?php endif; ?><&#47;pre><br />
[&#47;tab]<br />
[end_tabset]Вот примерно так незамысловато это и происходит. Ну на сегодня все, и так написал больше чем хотел. Если будут вопросы или дополнения, то прошу в комментарии, буду рад помочь или выслушать. Всем удачного программирования!</p>
